@import "../node_modules/bootstrap/scss/bootstrap";
@import "variables";
@import "helpers";
@import "navigation";
@import "carousel";
@import "service";
@import "cta";
@import "feature";
@import "footer";
@import "certificate";
@import "accordion";
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Saira", sans-serif;
  font-weight: 600;
}
body {
  font-family: "Open Sans", sans-serif;
}

.progress {
  @extend .mb-1;
  height: 20px;
}

.pg-input {
  border-width: 3px;
  border-color: transparent;
  border-radius: 0.7rem;
  &:focus {
    @extend .shadow-none;
    border: 3px solid $main-light;
  }
}
.content-misv-0,
.content-misv-1,
.content-misv-2,
.content-misv-3,
.content-misv-4,
.content-misv-5,
.content-misv-6 {
  @extend .mb-0, .ms-2;
}

.accordion-item {
  &:nth-last-child(1) {
    @extend .mb-2;
  }
}
