@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Saira:wght@400;500;600&display=swap");
@import "../node_modules/bootstrap/scss/bootstrap";
// @import "../node_modules/swiper/swiper-bundle.css";
@import "variables";
@import "helpers";
@import "navigation";
@import "carousel";
@import "service";
@import "cta";
@import "feature";
@import "footer";
@import "certificate";
@import "accordion";
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Saira", sans-serif;
  font-weight: 600;
}
body {
  font-family: "Open Sans", sans-serif;
}

.progress {
  @extend .mb-1;
  height: 20px;
}
